footer {
  height: auto;
}
footer .f {
  width: 100%;
}
footer .f .top{
  border-bottom: 2px solid black;
  height: 60px;
  display: flex;
  padding-left: calc((100% - 1440px)/ 2);
}
footer .f .top ul.fnb {
  
  height: 100%;
  width: 100%;
  align-items: end;
}
footer .f .top ul.fnb li {
  padding: 8px 10px 5px 0;
}
footer .f .top ul.fnb li a { 
  color: #3a466a;
  font-weight: 700;
  line-height: 2;
  padding: 0 10px 0 0;
  display: block;
}
footer .f .top ul.fnb li:last-child a{
  color: #00a6b1;
}
footer .f .bottom{
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}
footer .f .bottom h1 {
  grid-column: 1;
  grid-row: 1 /span 2;
  font-size: 0;
  background-image: url(../img/flogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  padding-top: 20px;
}
footer .f .bottom h1 a {
  
}
footer .f .bottom address {
  
  grid-column: 2 /span 2;
  grid-row: 1;
  font-style: normal;
  line-height: 1.4;
  padding-left: 20px;
}
footer .f .bottom address span {
  
}
footer .f .bottom ul.sns {
  grid-column: 4;
  grid-row: 1;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 15px;
}
footer .f .bottom ul.sns li {
  
}
footer .f .bottom ul.sns li a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0px;
  width: 30px;
  height: 30px;
}
footer .f .bottom  ul.sns li:nth-child(1) a{
  background-image: url(../img/insta.png)
}
footer .f .bottom  ul.sns li:nth-child(2) a{
  background-image: url(../img/blog.png)
}
footer .f .bottom  ul.sns li:nth-child(3) a{
  background-image: url(../img/fb.png)
}
footer .f .bottom  ul.sns li:nth-child(4) a{
  background-image: url(../img/youtub.png)
}
footer .f .bottom  ul.sns li:nth-child(5) a{
  background-image: url(../img/app.png)
}
footer .f .bottom p.copyright {
  grid-column: 2 /span 2;
  grid-row: 2;
  align-self: end;
  color: gray;
  padding-left: 20px;
}