@media screen and (max-width:768px){
  /*  common  */
    
  /*  header  */
    header{
    height: 80px;
    }
    header nav > ul.gnb {
      display: none;
    }
    header nav h1 a{
      width: calc(132px * 0.8)
    }
    .ham{
      display: flex;
      color: darkblue;
      transform: scale(0.8);
    }
  /*  타이틀영역  */
    #title .tt > ul .slick-prev::before, #title .tt > ul .slick-next::before{
    width: 30px;
    height: 30px;
    }
    #title .tt > ul .slick-prev::before{
      transform: translate(-50%, -140%);
    }
    #title .tt > ul .slick-next::before{
      transform: translate(155%, -145%);
    }
    #title .tt ul li.t3{
      background-position: left;
    }
  /* menu */
    main #menu{
      height: auto;
    }
    main #menu .wrap{
      padding: 0 20px;
    }
    main #menu .wrap h2{
      padding: 60px 0 40px 0;
      font-size: calc(36px * 0.8);
      line-height: 2;
    }
    main #menu .wrap ul{
      display: initial;
    }
    main #menu .wrap ul li{
      margin: 0 auto;
      margin-top: 20px;
    }
  /*  md  */
    #md .wrap{
    padding: 0 20px;
    }
    #md .wrap h2{
      padding: 85px 5px 65px 5px;
      font-size: calc(36px * 0.8);
    }
    
  /* contents */
    #contents{
      height: auto;
    }
    #contents .wrap{
      height: auto;
    }
    #contents .wrap h2{
      padding: 60px 0 20px 0;
      font-size: calc(36px * 0.8);
      line-height: 2;
    }
    #contents .wrap div.a1{
      display: initial;
      margin: 10px 0; 
    }
    #contents .wrap div.a1 article{
      margin-top: 20px;
    }
  /*  가맹문의  */
    #caffebene{
      height: auto;
    }
    
  /*  하단  */
  footer{
    box-sizing: border-box;
  }
  footer .f .top ul.fnb{
    height: 100%;
  }
  footer .f .top ul.fnb li{
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  footer .f .top ul.fnb li a{
    font-size: 14px;
    line-height: 1.5;
    padding: 6px;
    letter-spacing: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
  }
  footer .f .bottom{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 0;
    row-gap: 10px;
    display: grid;
  }
  footer .f .bottom h1{
    grid-column: 1;
    grid-row: 2;
    padding: 0;
    background-size: contain;
    height: 95px;
    margin-left: 12px;
  }
  footer .f .bottom address{
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
  }
  footer .f .bottom ul.sns{
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
  }
  footer .f .bottom p.copyright{
    grid-column: 1;
    grid-row: 4;
    font-size: 14px;
    margin-bottom: 20px;
  }
    
  /*  768 end  */
  }